<header
    class="flex justify-between items-center bg-blue-500 shadow-md sticky top-0 left-0 z-40 backdrop-blur-md h-16 max-w-screen-2xl mx-auto w-full px-4 lg:px-8">

    <!-- Logo -->
    <a href="./index.html" class="flex items-center gap-1 text-xl font-bold w-72 h-full text-white group">
        <i class="fas fa-home mr-2 group-hover:text-gray-200"></i> T&P Cell - SOSET
    </a>

    <div class="flex gap-6 md:gap-10">
        <!-- Hamburger Menu for Mobile -->
        <div class="flex lg:hidden items-center">
            <button id="menu-toggle" class="text-gray-200 focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </button>
        </div>
    </div>

    <!-- Navigation Links -->
    <nav id="nav-links"
        class="flex flex-col items-center max-h-0 lg:max-h-full lg:flex lg:flex-row lg:items-center lg:space-x-6 lg:h-full absolute top-16 left-0 w-full bg-gray-800 bg-opacity-95 lg:bg-opacity-90 shadow-md lg:relative lg:bg-transparent lg:shadow-none lg:top-0 lg:w-auto lg:translate-x-0 transition-all transform duration-500 ease-in-out overflow-hidden xl:overflow-visible">
        <a href="./index.html#why-recruit" class="py-4 flex items-center text-white hover:text-gray-200 group">
            <i class="fas fa-question-circle mr-2 group-hover:text-gray-200"></i> Why Recruit?
        </a>
        <a href="./for-recruiters.html" class="py-4 flex items-center text-white hover:text-gray-200 group">
            <i class="fas fa-briefcase mr-2 group-hover:text-gray-200"></i> For Recruiters
        </a>
        <a href="./team.html" class="py-4 flex items-center text-white hover:text-gray-200 group">
            <i class="fas fa-users mr-2 group-hover:text-gray-200"></i> Student Team
        </a>
        <a href="./contact.html" class="py-4 flex items-center text-white hover:text-gray-200 group">
            <i class="fas fa-envelope mr-2 group-hover:text-gray-200"></i> Contact Us
        </a>
    </nav>
</header>