<div class="container max-w-screen-2xl w-full mx-auto overflow-hidden bg-white z-40 pt-4 sm:pt-2">
    <div class="grid grid-cols-12 items-center">
        <!-- Logo Section -->
        <div class="col-span-3 sm:col-span-2"  data-aos="fade-right" data-aos-duration="1000">
            <div class="logo">
                <a href="./index.html">
                    <img src="./images/ggu_logo.png" alt="logo" class="mx-auto w-16 sm:w-24 h-auto">
                </a>
            </div>
        </div>

        <!-- Text Section -->
        <div class="col-span-6 sm:col-span-8 text-center" data-aos="zoom-in" data-aos-duration="1500">
            <div class="text-teal-800">
                <!-- Hindi Text with Mobile Abbreviation -->
                <p class="font-bold text-lg sm:text-xl">
                    <span class="sm:hidden">जी. जी. वी., बिलासपुर</span>
                    <span class="hidden sm:inline">गुरु घासीदास विश्‍वविद्यालय, बिलासपुर</span>
                </p>

                <!-- English Text with Mobile Abbreviation -->
                <p class="font-bold text-lg sm:text-xl">
                    <span class="sm:hidden">G.G.V., Bilaspur</span>
                    <span class="hidden sm:inline">Guru Ghasidas Vishwavidyalaya, Bilaspur</span>
                </p>

                <small class="hidden sm:block text-sm">A Central University established by the Central Universities Act
                    2009 No. 25 of 2009</small>
            </div>
        </div>

        <!-- Secondary Image Section -->
        <div class="col-span-3 sm:col-span-2" data-aos="fade-left" data-aos-duration="1000">
            <div class="mx-auto">
                <img src="./images/guru_ghasidas.png" alt="image" class="mx-auto w-16 sm:w-24 h-auto">
            </div>
        </div>
    </div>
    <small class="block sm:hidden mx-auto text-sm text-center px-2 pb-4 text-teal-800">A Central University stablished
        by the Central
        Universities Act 2009 No. 25 of 2009</small>
</div>